
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
  }
  
  h1, h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
  }
  
  .image-container {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .profile-image {
    width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
  }
  
  p {
    margin-bottom: 20px; 
    font-family: 'Roboto', sans-serif;
  }
  
  