@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.about-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

h1, h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.profile-container {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px;
  max-width: 900px;
  margin: auto;
}

.image-container {
  max-width: 300px;
  margin-right: 20px; 
}

.profile-image {
  width: 200px; 
  height: 200px; 
  display: block;
  margin: 0 auto;
  object-fit: cover; 
}

p {
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.github-icon {
  width: 85px;
  height: 50px;
}

.purpose {
  width: 800px;
  margin: auto;
}
