

 #container,
 #logo-section {
     display: flex;
 }

 #container  {
    flex-direction: row;
 }



.site-title {
    font-size: 2rem;
}

nav {
    display: flex;
    background-color: rgba(37, 11, 237, 0.914);
    color: white;
    justify-content:space-between;
    align-items: stretch;
    /* gap: rem; */
    padding: 0  2rem;

    
}

 
nav ul {

    list-style: none;
    display: flex;
    gap: 1.5rem;
 align-self: end;
}

nav li:active {
    background-color: rgb(130, 233, 233);
}

nav li:hover {
    background-color: blueviolet;
}

img {
    padding-top: 1.1rem;
}

.button {
    position: relative;

    justify-content: space-between;
}

.top_left {
    position: absolute;
    top: 5px;
    left: 5px;

  
}

.top_right {
    position: absolute;
  bottom: 5px;
  right: 5px;
}
@media (min-width:768px) {
    #container { width: 29% }
}