

 #container,
 #logo-link {
     display: flex;
    
 }

 #container  {
    flex-direction: row;
 }

.site-title {
    font-size: 2rem;
}

nav {
    display: flex;
    background-color: rgba(37, 11, 237, 0.914);
    color: white;
  
    align-items: stretch;
    /* gap: rem; */
    padding: 0 .7rem;

    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav li:active {
    background-color: rgb(130, 233, 233);
}

nav li:hover {
    background-color: blueviolet;
}

img {
   border-radius: 1rem;
}



.button {
    position: relative;
    justify-content: space-between;
    background-color: inherit;
}



@media (min-width:768px) {
    #container { width: 29% }
}