

 #container,
 #logo-icon {
     display: flexbox;
     
 }

 #logo-icon {
    /* height: 6em; */
    padding: .4em;
    will-change: filter;
    transition: filter 300ms;
  }
  #logo-icon {
    filter: drop-shadow(.2em .1em 1em #646cff57);
  }
  #logo-icon:hover {
    filter: drop-shadow(0 0 .4em #61dafb63);
  }




 
